@import "@components/common/palette/styles.scss";

.Item {
  display: flex;

  box-sizing: border-box;
  height: 26px;
  padding: 2px;

  border: 1px solid;
  justify-content: space-between;
  align-items: center;
  //min-width: 216px;
  //width: 100%;

  @include use-demo-border-color("light-grey");

  .value {
    font-weight: bold;
  }
}
