@import "@components/common/palette/styles.scss";
@import "../utils/flexAlign.scss";

.Button {
  display: flex;

  box-sizing: border-box;
  width: 70px;
  height: 20px;
  padding: 5px;

  border-width: 1px;
  border-style: solid;
  align-items: center;
  justify-content: center;

  @include use-demo-border-color("light-grey");

  &:hover {
    cursor: pointer;
  }

  .content {
    display: flex;

    width: 100%;

    white-space: nowrap;

    font-size: 12px;
    font-weight: 500;

    @include use-flex-align();
    @include use-flex-vertical-align();
  }

  &_themeIcon {
    border: none;
    background: none;

    @include use-demo-text-color("text-dark-blue");

    svg {
      @include use-demo-fill-color("button-normal-blue");
    }

    &:hover {
      @include use-demo-text-color("button-hover-blue");

      svg {
        @include use-demo-fill-color("button-hover-blue");
      }
    }

    &:active {
      @include use-demo-text-color("button-active-blue");

      svg {
        @include use-demo-fill-color("button-active-blue");
      }
    }
  }
}
