@use "sass:map";

/** Application palette available colors (names, HEX-codes and RGB(A) values) */
$DEMO-COLORS: (
  "transparent": transparent,
  "border-grey": #444,
  "light-grey": #a5a5a5,
  "orange": #ce830f,
  "ava-red": #e1413c,
  "ava-cherry": #7a1129,
  "ava-orange": #d57517,
  "ava-yellow": #e5c766,
  "ava-grass": #b5ff00,
  "ava-green": #46cb8a,
  "ava-teal": #2ccde8,
  "ava-blue": #2784dc,
  "ava-stroke-blue": #40bfff,
  "ava-purple": #6d55da,
  "menu-background-blue": #03354f,
  "menu-hover-pressed-dark-blue": #3c4b64,
  "menu-active-dark-blue": #495977,
  "table-header-text-blue": #425a70,
  "text-dark-blue": #234361,
  "overlay-dark-cyan": rgba(8, 31, 49, 0.6),
  "modal-divider-black": rgba(0, 0, 0, 0.1),
  "divider-dark-blue": #384864,
  "light-brown": #9b9b9b,
  "grey": #587896,
  "menu-text-dirty-grey": #afbdd1,
  "input-disabled-grey": #f0f2f4,
  "hover-light-blue": #eceff2,
  "background-light-blue": #f6f9fd,
  "white": #fff,
  "button-normal-blue": #237cb0,
  "button-hover-blue": #4b9fd2,
  "button-active-blue": #1b5d85,
  "menu-icons-text-blue": #59b6ff,
  "table-cell-hover": #e4f0ff,
  "button-normal-red": #d84b39,
  "button-hover-red": #e06758,
  "button-active-red": #ad2716,
  "table-border": rgba(210, 212, 214, 0.8),
  "borders": #e2e3e5,
  "red-pale": #fbe8e8,
  "orange-pale": #fcf1e6,
  "yellow-pale": #fdf5da,
  "green-pale": #e1f3eb,
  "teal-pale": #e4f5f8,
  "blue-pale": #e6f0f9,
  "purple-pale": #f0edfa,
  "preloader-stroke": rgba(88, 120, 150, 0.2),
  "blue-card-border": #d5e6f7,
  "disabled-control": #f2f2f2,
  "explorer-provider-folder": #f5f5f5,
  "button-normal-green":#00a355,
  "button-active-green":#01723c,
  "button-hover-green":#03c468,
  "button-normal-orange":#ce830f,
  "button-active-orange":#bd6e08,
  "button-hover-orange":#f6a943,
);

/** Apply color from application palette to arbitrary CSS property */
@mixin use-demo-color($property, $key, $important:null) {
  #{$property}: map.get($DEMO-COLORS, $key) $important;
}

/** Apply color from application palette to `background-color` CSS property */
@mixin use-demo-background-color($key) {
  @include use-demo-color(background-color, $key);
}

/** Apply color from application palette to `color` CSS property */
@mixin use-demo-text-color($key) {
  @include use-demo-color(color, $key);
}

/** Apply color from application palette to `fill` CSS property */
@mixin use-demo-fill-color($key, $important:null) {
  @include use-demo-color(fill, $key, $important);
}

/** Apply color from application palette to `border-color` CSS property */
@mixin use-demo-border-color($key) {
  @include use-demo-color(border-color, $key);
}

@mixin use-demo-stroke-color($key) {
  @include use-demo-color(stroke, $key);
}

/** Application palette available box shadows (all values for `box-shadow` property) */
$DEMO-SHADOWS: (
  "medium": 0 2px 6px #a1a1a1,
  "menu-bar": 0 4px 4px #ababab,
  "profile-dropdown": 0 2px 8px #484848,
  "button-normal": 0 2px 4px #bfbfbf,
  "button-hover-blue": 0 4px 10px #d6effe,
  "button-active-blue": 0 2px 6px #b5ddf5,
  "button-hover-red": 0 4px 10px #fde1e1,
  "button-active-red": 0 2px 6px #f5c9c9,
  "table-header": 0 1px 0 #d2d4d6,
  "table-body": 0 1px 0 #e2e3e5,
  "dropdown-last-cell": 0 1px 0 #e2e3e5,
  "card-normal-shadow": 0 2px 4px #dae5ec,
  "card-hover-active-shadow": 0 2px 8px #d3e6f1,
  "profile-dropdown-shadow": 0 2px 2px #607ba8,
  "blue-table-border": 0 1px 0 #d5e6f7
);

/** Apply `box-shadow` property value from application palette to stylesheet */
@mixin use-demo-box-shadow($key) {
  box-shadow: map.get($DEMO-SHADOWS, $key);
}
