@import "@components/common/palette/styles.scss";
@import "@components/common/utils/flexAlign.scss";

.chartPage {
  position: relative;

  display: flex;
  gap: 5px;

  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 10px;

  @include use-flex-align-center();
  @include use-flex-vertical-align-middle();
  @include use-demo-background-color("white");
}
