@import "@components/common/palette/styles.scss";

.ChartSection {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  border: 1px solid;
  align-items: center;
  justify-content: center;

  @include use-demo-border-color("border-grey");
}

.chartLine {
  stroke-width: 3;

  @include use-demo-stroke-color("chart-blue");
}
